DATABASE_URL=postgres://user:password@localhost:5432/sodhani
PORT=4000
JWT_SECRET=replace-with-a-generated-random-secret
RA_JWT_SECRET=replace-with-a-generated-random-secret
MSG91_AUTH_KEY=
RAZORPAY_KEY_ID=rzp_test_TCbvygMEQf3PKO
RAZORPAY_KEY_SECRET=yWY8dGzkYU5uE9Tj8CiW3Xab
RAZORPAY_WEBHOOK_SECRET=7dc2d0ec35622dec8c053f2e0d9308c897a9d0b675a874fa
